{% extends "capstone/layout.html" %}
{% block body %}
<h1>Cipherchat: Secure E2EE Messaging</h1>
<hr>
<h2>Your rooms</h2>
{% if request.session.rooms %}
{% for room in request.session.rooms %}
<span class="nowrap">
    <a href="/room/{{room.id}}" class="list-group-item list-group-item-action ">{{room.name}}</a>
       <button class="btn btn-primary float-right" href="/chat/{{room.id}}">Jump to chat</button>
</span>
{% endfor %}
{% endif %}
<h2>Your Room Invites</h2>
<hr>
{% if invites %}
{% for invite in invites %}
<div class="alert alert-info" role="alert" id="{{invite.id}}">
  You have been invited to "{{invite.name}}"! <span text-align="right"><button class="btn btn-primary accept" onclick="accept({{invite.id}},{{invite.pk}})">Accept</button></span>
</div>
{% endfor %}
{% else %}
<h2>No Room Invites Yet!</h2>
{% endif %}
{% endblock %}
