
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>RSA-Cipherchat</title>
    <script src="{% static 'capstone/cleanapp.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{% static 'capstone/encryption/jsbn.js'%}"></script>
    <script src="{% static 'capstone/encryption/random.js'%}"></script>
    <script src="{% static 'capstone/encryption/hash.js'%}"></script>
    <script src="{% static 'capstone/encryption/rsa.js'%}"></script>
    <script src="{% static 'capstone/encryption/aes.js'%}"></script>
    <script src="{% static 'capstone/encryption/api.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script>
    var currentuser = "{{request.user.username}}"
    </script>
  <meta
      name="viewport"
      content="width=device-width, height=device-height, viewport-fit=cover, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
  />
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="icon" href="{% static 'capstone/favicon.ico' %}" type="image/x-icon" />
    {% block head %} {% endblock %}
<head>
<body>
    {% csrf_token %}
    <p hidden="true" id="currentuser">{{request.user.id}}</p>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="{% url 'index' %}"><b><i>RSA-</i></b>Cipherchat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>Logged in as {{ user.username }}</strong></a>
                    </li>
                {% endif %}
                {% if user.is_authenticated%}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_room' %}">New Room</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Rooms
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if request.session.rooms %}
                    {% for room in request.session.rooms %}
                    <a class="dropdown-item" href="/room/{{room.id}}">{{room.name}}</a>
                    {% endfor %}
                    {% else %}
                    <a class="dropdown-item" href="#">No rooms yet!</a>
                    {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/{{request.user.username}}">My Profile</a>
                    </li>
                    {% if user.is_superuser %}
                        <a class="nav-link" href="/admin">Admin Controls</a>
                    {% elif user.is_staff %}
                        <a class="nav-link" href="/admin">Staff Controls</a>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
          {% block body %}
          {% endblock %}
          <hr>
    <style>
        #footer {
              font-size:15px;
              position: fixed;
              left: 0;
              bottom: 0;
              width: 100%;
              background-color: #343a40 !important;
              color: white;
              text-align: center;
        }
    </style>
    <footer>
        <div id="footer">
          RSA-Cipherchat by thomcatmeow |
          <a href="/policy">Privacy Policy</a>
        </div>
    </footer>
</body>
</html>
