{% extends "capstone/layout.html" %}
{% block body %}
<h1>{{thisuser.username}}'s Profile</h1>
<hr>
<h2>Status:</h2>
{% if status%}
<i>{{status.status}}</i>
{% else %}
<i>This user currently has no status.</i>
{% endif %}
<br><hr>
{% if lastseen.isoformat %}
<b> Last Seen <span id = "seen" data-value = "{{lastseen.isoformat}}"></span></b>
{% else %}
    <b>This user hasn't touched Cipherchat yet.</b>
{% endif %}
{% if thisuser == request.user %}
<hr>
<form action="/profile/set" method="POST">
    {% csrf_token %}
    <h6>Change status:</h6>
    <input class="form-control" name="status" placeholder="Enter new status" required>
</form>
{% endif %}
    <script>
        let seen = document.querySelector('#seen')
        seen.innerHTML = new Date(seen.dataset.value)
    </script>
{% endblock %}
